.video-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
  margin-top: 30px;
}

.project-title{
  margin-top: 6px;
  margin-bottom: 10px;
  line-height: 30px;
}

.project-description{
  color: white;
  font-size: 15px;
  line-height: 20px;
}

.uploaded-img{
  width: 48px;
  vertical-align: middle;
  margin-bottom: 12px;
}

.fa-projects{
  font-size: 30px;
  margin: 0 10px;
}

.column-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

